.card-body .event-status {
  text-transform: capitalize;
}

.hash-letter {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  color: #9a2cec;
}

.claim-event-list-container {
  max-width: 880px;
  width: 100%;
  margin-top: 32px;
  padding: 0 16px;
}

.claim-event-list-container .heading {
  width: 100%;

  .query-address {
    width: 196px;
  }
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
  }

  display: flex;
  padding: 32px 0;
  justify-content: space-between;
}

.query-address::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: url("../images/clear.svg");
}

.claim-event-list-container .card {
  .col {
    @media only screen and (max-width: 480px) {
      padding: 0px;
    }
  }
  .card-header {
    font-size: 0.9rem;
  }
  margin-top: 13px;

  .row:not(:last-child) {
    margin-bottom: 10px;
  }
  a {
    color: #9a2cec;
    text-decoration: none;
  }
  span.timestamp {
    color: rgb(136, 136, 136);
    @media only screen and (max-width: 480px) {
      font-size: 0.7rem;
    }
  }
  span.claimed-capacity {
    @media only screen and (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
  span.tx-fee {
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
  }
  span.has-tooltip {
    cursor: default;
  }
}
