// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$form-primary-color: #9A2CEC;

.flex-basis-content {
  flex-basis: content;
}

.form-container {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 648px;

  .logo {
    width: 120px;
    height: 120px;
    margin-bottom: 32px;
  }

  .heading {
  font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
margin-bottom: 16px;
  }

  .desc {
    color: #cccccc;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
box-sizing: content-box;
  }
}

.claim-form {
  margin-top: 44px;
  width: 100%;
  max-width: 702px;

  label[for="amount"],label[for="addressHash"] {
    flex-basis: 72px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0px;
    margin-right: 16px;
    display: inline-flex;
    justify-content: flex-end;

  }
  label.form-check-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .address-hash-container {
    margin-bottom: 32px;
    flex-wrap: wrap;
  }

  .amount-container {
    margin-top: 16px;
    width: 100%;
    flex-wrap: wrap;
  }

  .remaining-container, .remaining-container-sm {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #cccccc;
      flex-basis: content;
      display: inline-flex;
      align-items: center;
      padding: 0;
  }


  button[type="submit"] {
    margin-top: 40px;
    margin-bottom: 24px;
  background: $form-primary-color;
  border-color: $form-primary-color;
  width: 120px;
  height: 40px;
}

.remaining-container-sm {
  display: none;
}

@media only screen and (max-width:568px) {
  label[for="amount"],label[for="addressHash"] {
    flex-basis: 100%;
    justify-content: flex-start;
  }

  input[name="addressHash"],.radio-items {
    max-width: unset;
  }

  .remaining-container {
    display: none;
  }
  .remaining-container-sm {
    display: inline-flex;
    flex-basis: content;
  }
}
}

.img-container {
  display: flex;
  margin-bottom: 40px;

  img {
    width: auto;
    height: 120px;
  }
}

.content-container {
  display: flex;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;

  p {
    font-size: 12px;
    color: rgb(186, 186, 186);
  }

  @media only screen and (min-width: 480px) and (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 1.6rem;
    }

    p {
      font-size: 8px;
    }
  }
}

form div.invalid-feedback {
  margin-top: 10px;
}

#searchClear {
  position: absolute;
  right: 29px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.col-form-label,
.form-check-label {
  color: white
}


input[type="radio"] {
  accent-color: $form-primary-color;
}

.claim-event-list-container {
  max-width: 880px;
  display: flex;
  flex-direction: column;
}

